body{
    margin: 0; border: 0; padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    padding: 10px 0 30px 0;
}

.main{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.score_box_container{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0 30px 0;
    gap: 30px;
}

.player_score_box, .computer_score_box, .rounds_played_box{
    font-size: 35px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player_score_text, .computer_score_text{
    font-weight: bold;
}

.message_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 80%;
    padding: 10px 0 30px 0;
    font-size: 30px;
}

p{
    display: flex;
    flex-wrap: wrap;
}

.button_box_container{
    display: flex;
    justify-content: center;
    padding: 10px 0 30px 0;
    font-size: 30px;
    gap: 50px;
}

.rock_button_box, .paper_button_box, .scissors_button_box{
}

button{
    background-color: white;
    border: none;
}

button:hover{
    background-color: rgba(211, 211, 211, 0.25);
}

.footer{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 30px 0 10px 0;
}